{{ header }}{{ column_left }}

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>

            <h1>{{ heading_title }}</h1>

            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
                    <ul class="nav nav-tabs" id="tabs">
                        <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
                        <li><a href="#tab-statuscodes" data-toggle="tab">{{ tab_statuscodes }}</a></li>
                        <li><a href="#tab-paymentmethods" data-toggle="tab">{{ tab_paymentmethods }}</a></li>
                        <li><a href="#tab-about" data-toggle="tab"> {{ tab_about }}</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="icepay_url">{{ entry_url }}</label>

                                <div class="col-sm-10">
                                    <input type="text" name="icepay_url" value="{{ icepay_url }}" id="icepay_url" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-merchant-id">{{ entry_merchantid }}</label>

                                <div class="col-sm-10">
                                    <input type="text" name="payment_icepay_basic_merchantid" value="{{ payment_icepay_basic_merchantid }}" id="input-merchant-id" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-secret-code">{{ entry_secretcode }}</label>

                                <div class="col-sm-10">
                                    <input type="text" name="payment_icepay_basic_secretcode" value="{{ payment_icepay_basic_secretcode }}" id="input-secret-code" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>

                                <div class="col-sm-10">
                                    <select name="payment_icepay_basic_status" id="input-status" class="form-control">
                                        {% if payment_icepay_basic_status %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                         {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>

                                <div class="col-sm-10">
                                    <input type="text" name="payment_icepay_basic_sort_order" value="{{ payment_icepay_basic_sort_order }}" id="input-sort-order" class="form-control" size="3"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-debug"><span data-toggle="tooltip" title="{{ help_debug }}">{{ entry_debug }}</span></label>
                                <div class="col-sm-10">
                                    <select name="payment_icepay_basic_debug" id="input-debug" class="form-control">
                                        {% if payment_icepay_basic_debug %}
                                        <option value="1" selected="selected">{{ text_enabled }}</option>
                                        <option value="0">{{ text_disabled }}</option>
                                         {% else %}
                                        <option value="1">{{ text_enabled }}</option>
                                        <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab-statuscodes">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-open-status-id">{{ entry_open_status }}</label>

                                <div class="col-sm-10">
                                    <select name="payment_icepay_basic_open_status_id" id="input-open-status-id" class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status.order_status_id == payment_icepay_basic_open_status_id %}
                                                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                             {% else %}
                                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-ok-status-id">{{ entry_ok_status }}</label>

                                <div class="col-sm-10">
                                    <select name="payment_icepay_basic_ok_status_id" id="input-ok-status-id" class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status.order_status_id == payment_icepay_basic_ok_status_id %}
                                                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                             {% else %}
                                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-err-status-id">{{ entry_err_status }}</label>

                                <div class="col-sm-10">
                                    <select name="payment_icepay_basic_err_status_id" id="input-err-status-id" class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status.order_status_id == payment_icepay_basic_err_status_id %}
                                                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                             {% else %}
                                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-cback-status-id">{{ entry_cback_status }}</label>

                                <div class="col-sm-10">
                                    <select name="payment_icepay_basic_cback_status_id" id="input-cback-status-id" class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status.order_status_id == payment_icepay_basic_cback_status_id %}
                                                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                             {% else %}
                                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-refund-status-id">{{ entry_refund_status }}</label>

                                <div class="col-sm-10">
                                    <select name="payment_icepay_basic_refund_status_id" id="input-refund-status-id" class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status.order_status_id == payment_icepay_basic_refund_status_id %}
                                                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                             {% else %}
                                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab-paymentmethods">
                            <div class="attention" style="display: none;" id="error-box"></div>
                            <div class="success" style="display: none;" id="info-box"></div>

                            <br/><a href="icepay-getpaymentmethods" id="getMyPaymentMethods" class="button">Get My Paymentmethods</a><br/><br/>

                            <table class="form" id="icepay-payment-methods">
                                <tr style="text-align: left; {{ stored_payment_methods.num_rows == 0 ? "display: none" : "" }} " id="payment-table">
                                    <th style="width: 200px; padding: 5px;">Paymentmethod</th>
                                    <th style="width: 100px; padding: 5px;">Active</th>
                                    <th style="width: 250px; padding: 5px;">Displayname</th>
                                    <th style="width: 250px; padding: 5px;">Store</th>
                                    <th style="padding: 5px;">Geo Zone</th>
                                </tr>
                                {% for payment_method in stored_payment_methods.rows %}
                                <tr>
                                    <td>
                                        <input type='hidden' name="paymentMethodCode[{{ payment_method.id }}]" value="{{ payment_method.pm_code }}"/>
                                        <input type='hidden' name="paymentDisplayName[{{ payment_method.id }}]" value="{{ payment_method.displayname }}"/>
                                        {{ payment_method.readablename }}
                                    </td>
                                    <td>
                                        <input name="paymentMethodActive[{{ payment_method.id }}]" type="checkbox" {{ payment_method.active == '1' ? "checked=checked" : "" }} />
                                    </td>
                                    <td>
                                        <input name="paymentMethodDisplayName[{{ payment_method.id }}]" type="text" style="padding: 5px; width: 200px;" value="{{ payment_method.displayname }}"/>
                                    </td>
                                    <td>
                                        <select name="paymentMethodStore[{{ payment_method.id }}]" style="padding: 5px; width: 200px;"">
                                            <option value='-1' {{ payment_method.store_id == '-1' ? "selected" : ""}} >All Stores</option>
                                            <option value='0' {{ payment_method.store_id == '0' ? "selected" : ""}} >Default</option>
                                            {% for store in stores %}
                                                <option value="{{ store.store_id }}"{{ payment_method.store_id == store.store_id ? "selected" : "" }} >{{ store.name }}</option>
                                        {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <select name="paymentMethodGeoZone[{{ payment_method.id }}];?> "style='padding: 5px; width: 150px;'>
                                            <option value="-1">All Zones</option>
                                                {% for geo_zone in geo_zones %}
                                                <option value="{{ geo_zone.geo_zone_id }}" {{ payment_method.geo_zone_id == store.geo_zone_id ? "selected" : "" }} >{{ geo_zone.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            <br/>

                            <table class="form" width="100%">
                                <tr>
                                    <td style="border: 0;">
                                        <a href="icepay-savepaymentmethods" id="saveMyPaymentMethods" class="button" {{ stored_payment_methods.num_rows == 0 ? "display: none" : "" }} >Save Paymentmethods</a>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="tab-pane" id="tab-about">
                            <table class="form">
                                <tr>
                                    <td>{{ text_about_logo }}</td>
                                </tr>
                                <tr><td><br/></td></tr>
                                <tr>
                                    <td>Module version</td>
                                    <td>{{ text_version }}</td>
                                </tr>
                                <tr>
                                    <td>Website</td>
                                    <td>{{ text_about_link }}</td>
                                </tr>
                                <tr>
                                    <td>Documentation</td>
                                    <td>{{ text_about_user_manual_link }}</td>
                                </tr>
                                <tr>
                                    <td>Support</td>
                                    <td>{{ text_about_support_link }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery('#getMyPaymentMethods').click(function (e) {
        e.preventDefault();

        jQuery.ajax({
            type: 'post',
            url: 'index.php?route=extension/payment/icepay_basic/getMyPaymentMethods&user_token={{ user_token }}',
            data: {},
            beforeSend: function () {
                jQuery('#error-box').hide();
                jQuery('#payment-table').hide();
                jQuery('#getMyPaymentMethods').hide();
                jQuery('#saveMyPaymentMethods').hide();
                jQuery('#payment-table').nextAll('tr').remove();
                jQuery('#info-box').html('Loading paymentmethods, please wait...').fadeIn();
            },

            success: function (html) {
                jQuery('#info-box').html('Paymentmethods retrieved.').hide()

                if (html.indexOf("Error") >= 0) {
                    jQuery('#error-box').html(html).fadeIn();
                } else {
                    jQuery('#payment-table').fadeIn();
                    jQuery('#icepay-payment-methods').append(html);
                    jQuery('#saveMyPaymentMethods').fadeIn();
                    jQuery('#info-box').html('Paymentmethods retrieved successfully!').fadeIn();
                }

                jQuery('#getMyPaymentMethods').fadeIn();
            }
        });
    });

    jQuery('#saveMyPaymentMethods').click(function (e) {
        e.preventDefault();

        var formData = jQuery('#form').serialize();

        jQuery.ajax({
            type: 'post',
            url: 'index.php?route=extension/payment/icepay_basic/saveMyPaymentMethods&user_token={{ user_token }}',
            data: {content: formData},
            beforeSend: function () {
                jQuery('#error-box').hide();
                jQuery('#getMyPaymentMethods').hide();
                jQuery('#saveMyPaymentMethods').hide();
                jQuery('#info-box').html('Loading paymentmethods, please wait...').fadeIn();
                jQuery('#info-box').html('Saving paymentmethods, please wait...');
            },
            success: function (html) {
                jQuery('#icepay-payment-methods').append(html);
                jQuery('#saveMyPaymentMethods').fadeIn();
                jQuery('#getMyPaymentMethods').fadeIn();
                jQuery('#info-box').html('Loading paymentmethods, please wait...').fadeIn();
                jQuery('#info-box').html('Paymentmethods saved successfully!');
            }
        });
    });

    jQuery('#icepay_url').click(function (e) {
        jQuery(this).select();
    });
</script>

{{ footer }}
